@tailwind base;
@tailwind components;
@tailwind utilities;

/* Converted original SCSS into plain CSS to preserve visuals exactly */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #2c3e50;
}

#app {
  font-family: system-ui, Helvetica, Avenir, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  height: 100%;
}

/* note styles */
.note {
  display: flex;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #eee;
  opacity: 0.3;
  flex-direction: row;
  max-width: 100%;
}
.note:hover {
  opacity: 1;
}
.note:hover .note__delete {
  margin-left: 0;
}
.note__content {
  padding: 30px;
  flex: 2;
  overflow: hidden;
}
.note__title {
  display: block;
  font-size: 1em;
  margin: 0;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.note__title:hover {
  text-decoration: underline;
}
.note__body {
  font-size: 0.9em;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.note__delete {
  position: relative;
  margin-left: -50px;
  width: 50px;
  display: block;
  background: #cc44ee;
  min-height: 100%;
  color: #fff;
  transition: margin-left 100ms ease-in-out;
}
.note__delete-icon {
  position: absolute;
  font-size: 1.5em;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* pad styles */
.pad {
  flex: 4;
  display: flex;
  flex-direction: column;
}
.pad__title {
  max-width: 100%;
  border: 0;
  font: inherit;
  font-size: 1.6em;
  outline: none;
  padding: 20px;
  padding-left: 30px;
  padding-top: 25px;
}
.pad__text {
  flex: 1;
  margin: 0;
  max-width: 100%;
  border: 0;
  font: inherit;
  resize: none;
  padding: 20px 30px;
  outline: none;
  line-height: 2;
}
.pad__footer {
  padding: 20px 30px;
}
.pad__footer-items {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pad__footer-item {
  flex: 1;
  font-size: 0.9em;
}
.pad__footer-item--right {
  margin-left: auto;
  text-align: right;
}

/* sidebar styles */
.sidebar {
  background-color: #f9f9f9;
  flex: 1;
  height: 100%;
  min-width: 28%;
  border-right: 2px solid #eee;
  overflow-y: auto;
}
.sidebar__content {
  padding: 30px;
}
.sidebar__content a {
  text-decoration: none;
  color: inherit;
}
